<?xml version="1.0"?>
<!-- As seen in https://docs.phpunit.de/en/10.5/configuration.html -->
<phpunit 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" 
    cacheDirectory=".phpunit.cache"
    colors="true"
    testdox="true" >
  <testsuites>
    <testsuite name="unit">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <!--logging>
    <testdoxText outputFile="testes-executados.txt"/>
  </logging-->
  <source/>
</phpunit>
